/* Font Face Declarations */
@font-face {
  font-family: 'Outfit';
  src: url('./../fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./../fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Typography Styles */

:root{
  /* H1 */
  --font-h1: 'Outfit', sans-serif;
  --font-weight-h1: 400;
  --font-size-h1: 48px;
  /* H1 Bold */
  --font-weight-h1-bold: 700;
  --font-size-h1-bold: 48px;
  /* H2 */
  --font-h2: 'Outfit', sans-serif;
  --font-weight-h2: 400;
  --font-size-h2: 40px;
  /* H2 Bold */
  --font-weight-h2-bold: 700;
  --font-size-h2-bold: 40px;
  /* H3 */
  --font-h3: 'Outfit', sans-serif;
  --font-weight-h3: 400;
  --font-size-h3: 33px;
  /* H3 Bold */
  --font-weight-h3-bold: 700;
  --font-size-h3-bold: 33px;
  /* H4 */
  --font-h4: 'Outfit', sans-serif;
  --font-weight-h4: 400;
  --font-size-h4: 28px;
  /* H4 Bold */
  --font-weight-h4-bold: 700;
  --font-size-h4-bold: 28px;
  /* H5 */
  --font-h5: 'Outfit', sans-serif;
  --font-weight-h5: 400;
  --font-size-h5: 23px;
  /* H5 Bold */
  --font-weight-h5-bold: 700;
  --font-size-h5-bold: 23px;
  /* Body */
  --font-body: 'Outfit', sans-serif;
  --font-weight-body: 400;
  --font-size-body: 19px;
  /* Body Bold */
  --font-weight-body-bold: 700;
  --font-size-body-bold: 19px;
  /* Caption */
  --font-caption: 'Outfit', sans-serif;
  --font-weight-caption: 400;
  --font-size-caption: 16px;
  /* Caption Bold */
  --font-weight-caption-bold: 700;
  --font-size-caption-bold: 16px;
}

