<footer id="footer" class="site-footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <div class="container footer-container">
    <div class="footer-about">
      <a href="#" class="logo footer-logo">
        <span class="logo-part1">Inovare</span
        ><span class="logo-part2-light">Soft</span>
      </a>
      <p>
        InovareSoft is committed to delivering cutting-edge digital solutions
        with a human-centered design approach. Our interfaces are clean, our
        code is smart, and our performance is sharp.
      </p>
    </div>
    <div class="footer-links">
      <nav class="footer-nav">
        <a href="#about">About</a>
        <a href="#projects">Project</a>
        <a href="#services">Service</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact</a>
      </nav>
      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
