<footer id="footer" class="site-footer">
  <!--merged image-->
  <div class="footer-bg">
    <img src="images/12_4408.svg" alt="blur-effect" class="footer-blur-1" />
    <img src="images/12_4407.svg" alt="blur-effect" class="footer-blur-2" />
  </div>
  <div class="container footer-container">
    <div class="footer-about">
      <a href="#" class="logo footer-logo">
        <span class="logo-part1">Inovare</span
        ><span class="logo-part2-light">Soft</span>
      </a>
      <p>
        InovareSoft is committed to delivering cutting-edge digital solutions
        with a human-centered design approach. Our interfaces are clean, our
        code is smart, and our performance is sharp.
      </p>
    </div>
    <div class="footer-links">
      <nav class="footer-nav">
        <a href="#about">About</a>
        <a href="#projects">Project</a>
        <a href="#services">Service</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact</a>
      </nav>
      <div class="footer-social">
        <a href="#"><img src="images/12_4432.svg" alt="Social Icon" /></a>
        <a href="#"><img src="images/12_4426.svg" alt="Social Icon" /></a>
        <a href="#"><img src="images/12_4422.svg" alt="Social Icon" /></a>
      </div>
    </div>
  </div>
</footer>
