/* @import url('fonts.css');

.navbar {
  width: 1320px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #DEF3F9;
  border-radius: 10px;
}

.logo {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.logo-bold {
  font-weight: 700;
  color: #1C2D41;
}

.logo-light {
  font-weight: 600;
  color: #229EBF;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #555555;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 28px;
  transition: color 0.3s;
}

.nav-links li a.active {
  color: #26b0d4;
}

.nav-links li a:hover {
  color: #1e8daa;
} */
