<section id="hero" class="hero-section">

  <header class="main-header">
    <div class="container header-container">
      <a href="#" class="logo">
        <span class="logo-part1">Inovare</span
        ><span class="logo-part2">Soft</span>
      </a>
      <nav class="main-nav">
        <a href="#about">About</a>
        <a href="#projects">Project</a>
        <a href="#services">Service</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
  </header>
  <div class="container hero-content">
    <h1>
      <span class="highlight">Renew</span> Your Digital World <br />with
      <span class="highlight">Smart</span>,
      <span class="highlight">Custom</span> Software
    </h1>
  </div>
</section>
