<!-- Navbar inside centered container -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="#"><span class="logo-dark">Inovare</span><span class="logo-light">Soft</span></a>
        </div>
        <div class="nav-links">
            <!-- <a href="#about" class="active">About</a> -->
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#services">Services</a>
            <a href="#teams">Teams</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
</nav>