<section id="projects" class="projects-section">
  <div class="container">
    <h2 class="projects-title">Project</h2>
    <div class="projects-grid">
      <div class="project-card">
        <img
          src="../assets/images/inventrack.png"
          alt="VR training app"
          class="project-img"
        />
        <!-- <div class="project-overlay"></div> -->
        <div class="project-tags">
          <span class="tag">Web</span>
        </div>
        <div class="project-card-content">
          <p>Inventory Management System designed to streamline the tracking and management of inventory items.</p>
          <!-- <a href="#" class="project-arrow">
            <img src="assets/images/12_92.svg" alt="Arrow icon" />
          </a> -->
        </div>
      </div>
      <div class="project-card">
        <img
          src="../assets/images/nextgenpng.png"
          alt="Team collaborating on a project"
          class="project-img"
        />
        <!-- <div class="project-overlay"></div> -->
        <div class="project-tags">
          <span class="tag">Web</span>
        </div>
        <div class="project-card-content">
          <p>NextGen Tech Club</p>
          <!-- <a href="#" class="project-arrow">
            <img src="assets/images/12_92.svg" alt="Arrow icon" />
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
