<section class="services" id="services">
    <div class="service-card">
        <div class="left">
            <h1>See What we can do for you</h1>
        </div>
        <div class="right">
            <div class="service-item">
                <h3>Web Development</h3>
                <p>Responsive and user-friendly web applications.</p>
            </div>

            <div class="service-item">
                <h3>Mobile App Development</h3>
                <p>Engaging mobile applications for iOS and Android platforms.</p>
            </div>
            <div class="service-item">
                <h3>Custom Software Development</h3>
                <p>Tailored solutions to meet your unique business needs.</p>
            </div>
        </div>
    </div>
</section>