<section id="services" class="services-section">
  <div class="container services-container">
    <!--merged image-->
    <div class="services-bg-elements">
      <img src="assets/images/12_2168.svg" alt="background element" class="bg-el-1" />
      <img
        src="assets/images/4c284f94800b8af3bdc8526261cf084fb3425b2e.png"
        alt="background element"
        class="bg-el-2"
      />
      <img src="assets/images/bg-3.png" alt="background element" class="bg-el-3" />
      <!-- <img src="images/12_4171.svg" alt="background element" class="bg-el-4" /> -->
    </div>
    <div class="services-content">
      <h2>See what we can do for you</h2>
    </div>
    <div class="services-list">
      <ul>
        <li>
          <a href="#contact">Web Site</a>
        </li>
        <li><a href="#contact">Mobile App</a></li>
        <li><a href="#contact">Desktop App</a></li>
      </ul>
    </div>
  </div>
</section>
